<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="telerik.academy.agora"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-permission android:name="telerik.academy.agora.SEND_TIMELINE_NOTIFICATIONS" />
	<uses-permission android:name="telerik.academy.agora.RECEIVE_TIMELINE_NOTIFICATIONS" />

	<permission
		android:name="telerik.academy.agora.SEND_TIMELINE_NOTIFICATIONS"
		android:label="@string/send_timeline_notifications_permission_label"
		android:description="@string/send_timeline_notifications_permission_description"
		android:permissionGroup="android.permission-group.PERSONAL_INFO"
		android:protectionLevel="normal" />

	<permission
		android:name="telerik.academy.agora.RECEIVE_TIMELINE_NOTIFICATIONS"
		android:label="@string/receive_timeline_notifications_permission_label"
		android:description="@string/receive_timeline_notifications_permission_description"
		android:permissionGroup="android.permission-group.PERSONAL_INFO"
		android:protectionLevel="normal" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/android_head"
		android:label="@string/app_name"
		android:name=".AgoraApplication"
		android:theme="@style/AppTheme">

		<activity
			android:name="telerik.academy.agora.TimelineActivity"
			android:label="@string/titleTimeline"
			android:theme="@android:style/Theme.Light">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="telerik.academy.agora.preferences.PrefsActivity"
			android:label="@string/titlePrefs" />

		<activity
			android:name=".StatusActivity"
			android:label="@string/titleStatus" />

		<service android:name="telerik.academy.agora.updates.UpdaterService" />

		<receiver android:name="telerik.academy.agora.updates.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name="telerik.academy.agora.updates.NetworkReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>

		<receiver
			android:name=".AgoraWidget"
			android:label="@string/msgLastTimelineUpdate">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="telerik.academy.agora.NEW_STATUS" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/agora_widget_info" />
		</receiver>

		<provider
			android:name="telerik.academy.agora.database.StatusProvider"
			android:authorities="telerik.academy.agora.database.statusprovider" />
	</application>

</manifest>
